{% extends "app/base.html" %}
{% load static %}
{% block title %} Password Changed Done {% endblock title %}
{% block main-content %}
<div class="container">
    <div class="row my-3">
    <div class="col-sm-6 offset-sm-3">
        <h3>Your password has been changed!</h3>
        <hr>
        <div>
            <iframe src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExYmphYjB1b2sxdnc5aHF3N3J6Z3NxOGdrOHk5aWVrNHoxamFzdmh6byZlcD12MV9naWZzX3NlYXJjaCZjdD1n/BPJmthQ3YRwD6QqcVD/giphy.gif" width="270" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
        </div>
    </div> 
</div>
{% endblock main-content %}